@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Nunito+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Lato:wght@400&display=swap');

/* main background gradient settings */
[data-testid="stAppViewContainer"] {
    background: linear-gradient(135deg, 
    #0D1B2A,
    #1B263B,
    #3F3C6D,
    #1B263B,
    #0D1B2A);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* default font/coloring */
.stApp {
    background-color: #030e18;
    font-family: 'Arial', sans-serif;
}

/* max width and padding for main content (ensures it's not too close to edge) */
.block-container {
    padding-left: 5rem;
    padding-right: 5rem;
    max-width: 1000px;
}

/* centers header */
.stApp > header {
    max-width: 1000px;
    margin: 0 auto;
}

section[data-testid="stSidebar"] {
    background-color: #f0f0f0;
}

/* styles title / h1 text */
[data-testid="stHeading"] h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 3.5rem;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 1px;
}


/* styles write / markdown / p text */
p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #E0E0E0;
    text-align: left;
}

/* so only the homepage subtitle text is centered */
.homepage-subtitle {
    text-align: center !important;
}

/* resulting county final text */
.result-text {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    color: #E0E0E0;
    text-align: center;
}

/* styles subheading text (bottom summary & questions) */
h3 {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF !important;
    text-align: left;
    padding-top: 1.5rem;
}


/* default styling for the buttons */
div.stButton > button {
    background-color: #577897;
    color: white;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-weight: bold;
    transition: 0.3s;
}

/* makes button color different when hovered on */
div.stButton > button:hover {
    background-color: #042b50;
}

/* preference question font settings */
[data-testid="stTextInput"] label,
div.stSlider > label {
    color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

/* styling for the input boxes (like name) */
[data-testid="stTextInput"] div[data-baseweb="input"] {
    background-color: #FFFFFF;
    border: 2px solid #AFCDEA;
    border-radius: 10px;
    box-shadow: none;
    transition: 0.3s;
}

/* styling for the text inputted by user */
[data-testid="stTextInput"] input {
    color: #1A1A1A;
    background-color: transparent;
    padding: 0.5rem;
}

/* changes input box's border color when it's selected */
[data-testid="stTextInput"] div[data-baseweb="input"]:focus-within {
    border-color: #073765;
}

/* SLIDER STYLING */

/* container for the slider */
[data-testid="stSlider"] {
    padding: 0;
}

/* slider container's background color (box behind it) */
/* removed box so it doesn't clash with preset gradient background */
div.stSlider > div[data-baseweb="slider"] > div:first-child {
    background-color: transparent;
}

div.stSlider > div[data-baseweb="slider"] > div:nth-child(2) {
    background-color: transparent;
}

div.stSlider > div[data-baseweb="slider"] > div:last-child > span {
    color: #E0E0E0;
}

/* MULTISELECT QUESTION STYLING */

[data-testid="stCheckbox"] label span, 
[data-testid="stCheckbox"] label div p, 
[data-testid="stCheckbox"] > label > div[data-testid="stMarkdownContainer"] {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
